<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Question list</title>
    </head>
    <body>
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            Fields: 
            <br>
            {% for sj in subject %}
                <li><a href="{% url 'polls:index' %}?subject_id={{sj.id}}">{{ sj.subject_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </body>
</html>